<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scandev"
    android:versionCode="1"
    android:versionName="10.6
                                                 ">
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <!-- honeywell ****************************** -->
    <uses-permission android:name="com.honeywell.decode.permission.DECODE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".S11Application"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
        />
        <activity
            android:name=".CarTypeActivity"
            android:label="@string/title_activity_carstype"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarNumberActivity"
            android:label="@string/title_activity_carnumber"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
        android:name=".FunctionActivity"
        android:label="@string/title_activity_function"
        android:launchMode="singleTask"
        android:screenOrientation="portrait" />
        <activity
            android:name=".ScanTypeActivity"
            android:label="@string/title_activity_scantype"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history"
            android:launchMode="singleTask"
            android:parentActivityName=".FunctionActivity"
            android:screenOrientation="portrait">

            <!-- meta-data 用于支持 support 4.0 以及以下来指明上级活动 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scandev.FunctionActivity" />
        </activity>
        <activity
            android:name=".ArcActivity"
            android:label="@string/title_activity_arc"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanActivity"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ExceptionEditActivity"
            android:label="@string/title_activity_exception_edit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ExceptionQueryActivity"
            android:label="@string/title_activity_exceptionquery"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ExceptionDetailActivity"
            android:label="@string/title_activity_exceptiondetail" />
        <activity
            android:name=".ExceptionCheckActivity"
            android:label="@string/title_activity_exceptioncheck" />
        <activity
            android:name=".FullscreenPicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_pic"
            android:theme="@style/FullscreenTheme">
        </activity>

        <activity
            android:name=".ScanOrManualAty"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!--<activity-->
            <!--android:name=".CaptureAty"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateAlwaysHidden" >-->
        <!--</activity>-->

        <activity
            android:name=".ManualSearchAty"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity
            android:name=".ChooseVBA_IdAty"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity
            android:name=".DetailAty"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".InfraredDetailAty"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name=".UpdateStatusAty"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
    </application>

</manifest>